<div class="sidebar col-md-3">
  <%= render 'messages_tile' %>
</div>

<div class="clearfix col-md-9">
  <% if @users.empty? %>
    <div class="message-box">
      <h2>Your inbox is empty.</h2>
      <p>I'm sure someone is thinking of you...</p>
    </div>
  <% else %>

    <table class="table msg-overview">
      <% @convos.each do |k, v| %>
        <tr>
          <td class="msg-content">
            <a href="<%= conversation_path(v[:user].id) %>" class="clickable-row">
            <div class="msg-username"><%= v[:user].username %></div>
            <div><%= v[:latest].body.truncate(100) %></div>
            <div><%= v[:latest].created_at %></div>
            </a>
          </td>
        </tr>
      <% end %>
    </table>

  <% end %>
</div>