<h1>Account Settings</h1>
<hr>
<p>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :multipart => :true, :method => :put , :class => 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
    <%= form_element(f, :privacy_setting, 'user', "Privacy setting", 6, { collection: [
        ['Public <div>Anyone can read your journal (recommended). You can still make individual entries private.</div>'.html_safe, 0],
        ['People I follow <div>Only people you choose to follow can read your journal. You can still make individual entries private.</div>'.html_safe, 'following'],
        ['Selected Users <div>Only people you select below will be able to view your journal. You can still make individual entries private.</div>'.html_safe, 'selected_users'],
        ['Private <div>No one will be able to view your journal except you.</div>'.html_safe, 'private']
      ], as: :radio_buttons, label: false }) %>

    <%= form_element(f, :authorised_users, 'message', "To", 4, { label: false, collection: User.all, label_method: 'username', input_html: { multiple: true, data: { placeholder: 'Choose a user'}, class: 'chzn-select' } }) %>

    <%= form_element(f, :default_sit_length, 'user', "Default sit length", 1, { label: false }) %>

    <div class="update-details">
      <%= f.submit "Update", :class => 'btn btn-lg btn-primary' %>
    </div>
<% end %>
  </div>



<div class="row account-misc">

  <div class="col-md-4">
    <h1>Export</h1>
    <p>Download all my sits in:</p>
    <ul>
      <li><%= link_to "XML format", "/u/#{current_user.username}/export.xml" %></li>
      <li><%= link_to "JSON format", "/u/#{current_user.username}/export.json" %></li>
    </ul>
  </div>

  <div class="col-md-4">
    <h1>Account</h1>
    <p>Warning: danger zone.</p>
    <ul>
      <li><a href="#">Change my email address</a></li>
      <li>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</li>
    </ul>
  </div>

  <div class="col-md-4 privacy-setting">

  </div>

</div>